form{
    display: flex;
    justify-content: space-between;
    align-items: center;   
    margin: 0 auto; 
}

input[type=text]{
    width: 60vw;
    height: 50px;
    border-radius: .75rem;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1.2rem;
}



input::placeholder{
    font-size: 1rem;
    color: var(--button-color);
}

form button{
    cursor: pointer;
    border: none;
    border-radius: .75rem;
    font-size: 1.2rem;
    height: 50px;
    width: 70px;
    margin-left: 10px;
}

form button:hover{
    transition: .3s all ease;
}



@media only screen and (min-width:850px){

    input{
        width: 45vw !important;
    }
}

/*Theme*/

input[type=text].dark{
    color: var(--button-color);
}

input[type=text].light{
    color: var(--light-button-color);
}

input.dark::placeholder{
    color: var(--button-color);
}

input.light::placeholder{
    color: var(--light-button-color);
}


input.dark:focus{
    border: 4px solid var(--row-color) !important;
}

input.light:focus{
    border: 4px solid var(--light-row-color) !important;
}

form button.dark{
    color: var(--row-color);
    background-color:var(--button-color);
}

form button.light{
    color: var(--light-row-color);
    background-color:var(--light-button-color);
}

form button.dark:hover{
    color: var(--button-color);
    background-color: var(--row-color);
}

form button.light:hover{
    color: var(--light-button-color);
    background-color: var(--light-row-color);
}
