@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

li {
  width: 73vw;
  border-radius: 0.75rem;
  height: auto;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

.done {
  text-decoration: line-through;
  text-decoration-color: var(--button-color);
  opacity: 0.5;
}

li .span {
  font-family: "Caveat", cursive;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-left: 1rem;
  margin-right: auto;
  word-wrap: break-word; 
  overflow-wrap: break-word;     
  width: 60%;
}

li button {
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 850px) {
  li {
    width: 50vw;
  }
}

/*Theme*/

li.dark {
  background-color: var(--row-color);
  color: var(--button-color);
}

li.light {
  background-color: var(--light-row-color);
  color: var(--light-button-color);
}

li:nth-child(even).light {
  background: var(--light-row-gradient);
  color: var(--light-row-color);
}

li:nth-child(even).dark {
  background: var(--row-gradient);
  color: var(--row-color);
}

li:nth-child(even) button:nth-child(1n).dark {
  color: var(--row-color);
}

li:nth-child(even) button:nth-child(1n).light {
  color: var(--light-row-color);
}

li button.dark {
  color: var(--button-color);
}

li button.light {
  color: var(--light-button-color);
}
